<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
    <table border="1" style="width:auto; font-family:Arial;margin-left:auto;margin-right:auto;">
        <tr>
            <td colspan="2" style="text-align:center">
                <h3>Website Header</h3>
            </td>
        </tr>
        <tr>
            <td style="width:auto">
                <h3>Left Navigation Menus</h3>
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sample01MVCApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="ById">Student by Id</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="ByJSONId">Student by Id JSON</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="All">All Students</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Courses">Get Student Courses</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="GetStudentsByName">Student by Name</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="DetailsViewData">Student Details View data</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="DetailsViewBag">Student Details VewBag</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Details">Student Details using Strongly Typed model</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="DetailsViewModel">Student Details using ViewModel</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="All">Products List</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Details">A Product Detail</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetFile">Get A PDF File(Show Inline)</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GoToGoogle">Redirect To Google</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ToStudentDetailsAction">Redirect To StudentDetailsRoute Action</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ToProvicyRoute">Redirect To Privacy Route</a><hr>
                            
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NotFoundExample">Not Found Example - 404</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CustomStatusCodeExample">Custom StatusCode Example - 403</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BadRequestExample">Bad Request Example - 400</a><hr>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OKResultExample">OK Result Example - 200</a><hr>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            </td>
            <td style="width:600px">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-size:x-small">
                <h3>Website Footer</h3>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>